img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

h3 {
  line-height: 35px;
  color: #66aa94;
}

.subheader h4 {
  background-color: #66aa94;
  border: 2px solid #D5D5D5;
  padding: 14px;
  margin: 20px;
  color: white;
  font-family: georgia;
}

em {
  font-family: georgia;
}

blockquote {
  color: #0da317;
  margin: 40px;
  padding: 20px;
  font-size: 16px;
}

.navigation {
  background-color: #a3a3a3;
  overflow: hidden;
  height: 48px;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  float: left;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #66aa94;
  color: white;
}

.col-md-6 ul {
  border-left: 2px solid #D5D5D5;
  margin: 30px;
}

.col-md-6 a {
  font-weight: 600;
  font-family: georgia;
  font-size: 16px;
}

.col-md-6 a:hover {
  text-decoration: none;
  font-style: italic;
  color: blue;
}

.highlight {
  color: salmon;
  font-style: italic;
}

.profile {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
}

.profile a {
  color: black;
}

.profile a:hover {
  color: #66aa94;
  text-decoration: none;
}

.profile img {
  width: 100%;
  object-fit: contain;
}
