img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

h3 {
  line-height: 45px;
  color: #66aa94;
}

/*.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

.navigation {
  background-color: #bababa;
  width: 100%;
  height: 60px;
  padding: 5px 30px 5px 30px;
}

.navigation ul {
  color: white;
  font-family: Tahoma;
  font-size: 20px;
}

.navigation li {
  display: inline;
}

.navigation a {
  display: block;
  float: right;
  padding: 14px 18px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  color: white;
}

.navigation a:hover {
  background-color: gray;
  color: white;
}

.profile {
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
}

.profile a {
  color: black;
}

.profile a:hover {
  color: #66aa94;
  text-decoration: none;
}

.profile img {
  width: 100%;
  object-fit: contain;
}

blockquote {
  color: green;
  margin: 40px;
  padding: 20px;
  font-size: 16px;
}
